@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--ff-2);
}

::selection {
    background-color: var(--black-opacity-2);
    color: var(--white);
}

:root {
    /*BACKGORUND*/
    --bg-gradient: linear-gradient(45deg, rgba(0,0,35,1) 0%, rgb(20, 130, 190) 50%, rgba(0,180,255,1) 100%);

    /*COLORS*/
    --white: rgba(255, 255, 255, 1);
    --white-opacity: rgba(255, 255, 255, 0.4);
    --white-opacity-2: rgba(255, 255, 255, 0.6);

    --black: rgba(0, 0, 0, 1);
    --black-opacity: rgba(0, 0, 0, 0.1);
    --black-opacity-2: rgba(0, 0, 0, 0.4);

    /*FONT & COLOR FONT*/
    --ff: "Kanit", sans-serif;
    --ff-2: "Bebas Neue", sans-serif;
    --ff-bg-grandient: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 1) 0%, rgba(210, 210, 210, 1) 50%);
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
	background: var(--bg-gradient);
	background-size: 300% 300%;
	animation: gradient 10s ease infinite;
    width: 100vw;
    min-height: 100vh;
    height: auto;
}

.load {
    width: 80px;
    height: 80px;

    border: 15px solid var(--black-opacity-2);
    border-top-color: var(--white-opacity-2);
    border-radius: 50%;
}
.animation-load {
    animation: loading 1.5s 1s ease infinite, scale-loading 1s ease;
}

.div-form, 
.div-form-register,
.div-form-change-password {
    width: 25%;
    height: 45vh;
    padding-block: 1.5rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    box-shadow: -5px 5px 5px var(--black-opacity);
    border-radius: 2rem;

}

.div-form h2, 
.div-form-register h2,
.div-form-change-password h2 {
    text-transform: uppercase;
    font-size: 4rem;
    letter-spacing: .3rem;

    background: var(--ff-bg-grandient);
    background-size: 200% 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    animation: gradient 5s ease infinite;
}

.form-login,
.form-register,
.form-find-by-matricula,
.form-change-password {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    width: 90%;
    height: auto;
}

.form-login div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 1.2rem;
}

.form-login div i {
    font-size: 1.7rem;
    color: var(--white-opacity-2);
}

.form-login input {
    height: 4vh;
    width: 50%;
    padding: .3rem;

    background: transparent;
    border: none;
    border-bottom: 2px solid var(--white);
    outline: none;

    font-size: 1.1rem;
    letter-spacing: .1rem;
    color: var(--white);
}

.form-login input::placeholder,
.form-register input::placeholder,
.form-find-by-matricula input::placeholder,
.form-change-password input::placeholder {
    color: var(--white-opacity);
}

.btn-form {
    height: 4vh;
    width: auto;

    background: transparent;
    border: none;

    font-size: 1.7rem;
    letter-spacing: .1rem;
    text-transform: uppercase;
    color: var(--white-opacity-2);

    cursor: pointer;

    transition: .5s;
}

.btn-form:hover {
    transform: scale(1.1);
    color: var(--white);
}

.div-form > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: .3rem;
}

.div-form p {
    color: var(--white);
    font-size: .95rem;
    letter-spacing: .1rem;
}

.div-form p span {
    color: var(--black);
    font-size: 1.05rem;
    text-decoration: underline;
    cursor: pointer;
}

.form-register div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 1rem;
}

.form-register input {
    width: 100%;
    height: 4vh;
    padding: .3rem;

    background: transparent;

    font-size: 1.1rem;
    letter-spacing: .1rem;
    color: var(--white);

    border: none;
    border-bottom: 2px solid var(--white);

    outline: none;
}

.div-form-register span,
.div-form-change-password span {
    font-size: 1.1rem;
    cursor: pointer;
    letter-spacing: .1rem;
}

.form-find-by-matricula input,
.form-change-password input {
    width: 50%;
    height: 4vh;
    padding: .3rem;

    background: transparent;

    font-size: 1.1rem;
    letter-spacing: .1rem;
    color: var(--white);

    border: none;
    border-bottom: 2px solid var(--white);

    outline: none;
}

.hidden {
    display: none;
}

.animation-hide {
    animation: hide .5s linear;
}

.animation-show {
    animation: show 1s linear;
}

@keyframes scale-loading {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

@keyframes show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes hide {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes loading {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}